body{
	background-image: linear-gradient(to left,black,white,black);
}

header{
	border: transparent;
	border-radius: 25px;
	padding: 20px;
	text-align: center;
	background-image: linear-gradient(white,red);
}